@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Vintage Handmade";
  src: url(/fonts/Vintage\ Handmade.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  list-style: none;
}

:root {
  --color-negro: #333333;
  --color-oscuro: #1e2a38;
  --color-verde: #006400;
  --color-amarillo: #ffa63d;
  --color-gris: #333333;
  --color-blanco: #ffffff;
  --color-claro: #f5f5f5;
  --color-azul: #87ceeb;
  --color-marron: #8b4513;
  --color-formCTR: #2e3a48;
}

.btn-primary {
  border-radius: 1px;
  background-color: var(--color-verde);
  border-color: var(--color-blanco);
}
.btn-primary:hover {
  background-color: var(--color-amarillo);
  border-color: var(--color-blanco);
}

.navbar {
  background-color: var(--color-oscuro);
  /* Color de fondo del nav */
  /* Estilos para el logo */
  /* Estilos para los enlaces del menú de navegación */
  /* Estilos para el botón de búsqueda */
  /* Estilos para el menú offcanvas */
  /* Estilos para el menú desplegable "Aventuras" */
  /* Estilos para los íconos de redes sociales */
  /* Estilos para el formulario de búsqueda */
  /* Estilos para el bloque de datos de contacto */
  /* Añadir margen inferior solo para el último elemento de la información de contacto */
  /* Estilos para el mapa */
  /* Estilos para el iframe del mapa */
}
.navbar .navbar-logo {
  padding: 10px 0;
  /* Espaciado alrededor del logo */
}
.navbar .navbar-brand img {
  max-height: 4rem;
  /* Tamaño máximo del logo */
}
.navbar .navbar-nav .nav-link {
  color: var(--color-blanco);
  /* Color de los enlaces */
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--color-amarillo);
  /* Color al pasar el mouse por encima de los enlaces */
}
.navbar .form-control {
  background-color: var(--color-blanco);
  /* Color de fondo del formulario */
  color: var(--color-blanco);
  /* Color del texto del formulario */
}
.navbar .btn-success {
  background-color: var(--color-verde);
  /* Color de fondo del botón "Buscar" */
  border-color: var(--color-verde);
  /* Color del borde del botón "Buscar" */
}
.navbar .offcanvas-header {
  background-color: var(--color-oscuro);
  /* Color de fondo del encabezado del menú offcanvas */
  border-bottom: 1px solid var(--color-verde);
  /* Borde inferior del encabezado */
}
.navbar .offcanvas-title {
  color: var(--color-blanco);
  /* Color del texto del título del menú offcanvas */
}
.navbar .offcanvas-body {
  background-color: var(--color-oscuro);
  /* Color de fondo del cuerpo del menú offcanvas */
}
.navbar .navbar-nav .dropdown {
  position: relative;
  /* Posición relativa para el menú desplegable */
}
.navbar .navbar-nav .dropdown-toggle {
  color: var(--color-blanco);
  /* Color del enlace del menú desplegable */
  font-size: 16px;
  /* Tamaño del texto */
  transition: color 0.3s;
  /* Transición de color */
}
.navbar .navbar-nav .dropdown-toggle:hover {
  color: var(--color-amarillo);
  /* Color al pasar el mouse por encima del enlace */
}
.navbar .dropdown-menu {
  background-color: var(--color-oscuro);
  /* Color de fondo del menú desplegable */
  border: none;
  /* Eliminar el borde */
  border-radius: 0px;
  /* Bordes rectos */
  margin-top: 3px;
  /* Espaciado superior */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Sombra */
}
.navbar .dropdown-item {
  color: var(--color-blanco);
  /* Color del texto del menú desplegable */
  font-size: 14px;
  /* Tamaño del texto */
  transition: background-color 0.3s;
  /* Transición de color de fondo */
}
.navbar .dropdown-item:hover {
  background-color: var(--color-oscuro);
  /* Color de fondo al pasar el mouse por encima */
  color: var(--color-amarillo);
  /* Color del texto al pasar el mouse por encima */
}
.navbar .navbar-nav.social-icons {
  display: flex;
  /* Mostrar los íconos en una fila */
  flex-direction: row;
  align-items: center;
  /* Alinear verticalmente al centro */
}
.navbar .navbar-social-title {
  color: var(--color-blanco);
  /* Color del título */
  font-size: 1rem;
  /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 5px;
  /* Espaciado inferior */
}
.navbar .navbar-nav.social-icons .nav-link {
  font-size: 1.5rem;
  /* Tamaño de los íconos */
  margin: 0 10px;
  /* Espaciado entre los íconos */
  color: var(--color-blanco);
  /* Color de los íconos */
  transition: color 0.3s;
  /* Transición de color */
}
.navbar .navbar-nav.social-icons .nav-link:hover {
  color: var(--color-amarillo);
  /* Color al pasar el mouse por encima de los íconos */
}
.navbar .form-control {
  background-color: var(--color-formCTR);
  /* Color de fondo del formulario */
  color: var(--color-blanco);
  /* Color del texto del formulario */
  border: none;
  /* Eliminar el borde */
  border-radius: 4px;
  /* Bordes redondeados */
  padding: 8px 12px;
  /* Espaciado interno */
  transition: background-color 0.3s;
  /* Transición de color de fondo */
}
.navbar .form-control:focus {
  background-color: var(--color-formCTR);
  /* Color de fondo al enfocar */
  color: var(--color-blanco);
  /* Color del texto al enfocar */
  outline: none;
  /* Eliminar el contorno al enfocar */
}
.navbar .btn-success {
  background-color: var(--color-verde);
  /* Color de fondo del botón "Buscar" */
  border: none;
  /* Eliminar el borde del botón */
}
.navbar .btn-success:hover {
  background-color: var(--color-amarillo);
  /* Color de fondo del botón "Buscar" */
  border: none;
  /* Eliminar el borde del botón */
}
.navbar .navbar-contact {
  margin-top: 20px;
}
.navbar .navbar-contact-title {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.navbar .navbar-contact-info {
  font-size: 12px;
  color: #ccc;
  line-height: 1.5;
}
.navbar .navbar-contact-info i {
  margin-right: 5px;
}
.navbar .navbar-contact-info i:last-child {
  margin-bottom: 10px;
}
.navbar .navbar-map {
  margin-top: 20px;
}
.navbar .navbar-map iframe {
  border: none;
  width: 100%;
  height: 200px;
}

.footer {
  margin: auto;
  padding: 50px 0;
  color: var(--color-blanco);
}

/* Estilos para los enlaces del menú */
footer a {
  color: var(--color-blanco);
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--color-amarillo);
}

/* Estilos para el copy */
footer p {
  margin-bottom: 0;
}

/* Estilos para los íconos de redes sociales */
.list-inline-item a {
  color: var(--color-blanco);
  font-size: 2rem;
  margin-right: 1rem;
  transition: color 0.3s;
}

.list-inline-item a:hover {
  color: var(--color-amarillo);
}

/* Estilos Index */
/* Estilos para el carrusel de Bootstrap */
.carousel {
  margin-top: 100px;
  /* Espaciado superior */
  padding: 1px;
}
.carousel .carousel-inner {
  border-radius: 8px;
  /* Bordes redondeados para el contenido del carrusel */
  overflow: hidden;
  /* Ocultar contenido que sobrepase los bordes */
}
.carousel .carousel-item img {
  max-height: 100%;
  /* Altura máxima de las imágenes del carrusel */
  object-fit: cover;
  /* Ajustar imagen para llenar el contenedor */
}
.carousel .carousel-caption {
  background-color: rgba(30, 42, 56, 0.7);
  /* Fondo semitransparente */
  border-radius: 8px;
  /* Bordes redondeados para la caja de texto */
  padding: 10px;
  /* Espaciado interno */
}
.carousel .carousel-caption h5 {
  color: var(--color-blanco);
  /* Color del título */
  font-size: 24px;
  /* Tamaño del título */
  margin-bottom: 10px;
  /* Espaciado inferior */
}
.carousel .carousel-caption p {
  color: var(--color-blanco);
  /* Color del texto */
  font-size: 16px;
  /* Tamaño del texto */
}

/* Estilos para la Seccion Nuestros Destinos */
.adventures-section {
  background-color: var(--color-blanco);
  /* Color de fondo de la sección */
  padding: 100px 0;
  /* Espaciado vertical */
}
.adventures-section .adventures-section h2 {
  font-size: 2, 5rem;
  /* Tamaño del título */
  color: var(--color-negro);
  /* Color del texto */
  margin-bottom: 30px;
  /* Espaciado inferior */
}
.adventures-section .adventure-card {
  border: none;
  /* Sin borde */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  transition: transform 0.3s;
  /* Transición de transformación */
}
.adventures-section .adventure-card:hover {
  transform: translateY(-5px);
  /* Levantar la tarjeta al pasar el mouse por encima */
}
.adventures-section .adventure-card img {
  border-radius: 8px 8px 0 0;
  /* Bordes redondeados solo en la parte superior */
}
.adventures-section .adventure-card .card-body {
  padding: 20px;
  /* Espaciado interno */
}
.adventures-section .adventure-card h2.card-title {
  font-size: 24px;
  /* Tamaño del título */
  color: var(--color-oscuro);
  /* Color del texto del título */
  margin-bottom: 10px;
  /* Espaciado inferior */
}
.adventures-section .adventure-card p.card-text {
  font-size: 16px;
  /* Tamaño del texto */
  color: var(--color-gris);
  /* Color del texto */
}

/* Estilos para la sección de "Call to Action" */
.cta-section {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.cta-section .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.cta-section .cta-content {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: var(--color-gris);
  z-index: 1;
}
.cta-section .cta-button {
  margin-top: 20px;
}

/* Estilos para la Sección Nosotros */
.about-section {
  background-color: var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.about-section .about-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-negro);
  margin-bottom: 30px;
}
.about-section .about-text {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 50px;
}
.about-section .about-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección Nuestros Servicios */
.activity-types-section {
  background-color: var(--color-oscuro);
  /* Color de fondo de la sección */
  padding: 100px 0;
  /* Espaciado vertical */
}
.activity-types-section .activity-types-section h2 {
  font-size: 2, 5rem;
  /* Tamaño del título */
  color: var(--color-blanco);
  /* Color del texto */
  margin-bottom: 30px;
  /* Espaciado inferior */
}
.activity-types-section .activity-card {
  border: none;
  /* Sin borde */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  transition: transform 0.3s;
  /* Transición de transformación */
  background-size: cover;
  /* Ajustar la imagen de fondo para cubrir todo el contenedor */
  background-position: center;
  /* Centrar la imagen de fondo */
  height: 300px;
  /* Altura fija para todas las tarjetas */
}
.activity-types-section .activity-card:hover {
  transform: translateY(-5px);
  /* Levantar la tarjeta al pasar el mouse por encima */
}
.activity-types-section .activity-card .card-body {
  padding: 20px;
  /* Espaciado interno */
}
.activity-types-section .activity-card h3.card-title {
  font-size: 24px;
  /* Tamaño del título */
  color: var(--color-blanco);
  /* Color del texto del título */
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo semitransparente */
  padding: 10px 0;
  /* Espaciado interno del título */
  border-radius: 0 0 8px 8px;
  /* Bordes redondeados solo en la parte inferior */
}

/* Estilos para el Formulario de Suscripción */
.subscribe-section {
  background-color: var(--color-blanco);
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.subscribe-section .subscribe-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-oscuro);
  margin-bottom: 20px;
}
.subscribe-section .subscribe-text {
  font-size: 1rem;
  color: var(--color-gris);
  margin-bottom: 30px;
}
.subscribe-section .subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-section .input-group {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-bottom: 20px;
}

/* Estilos Banner */
/* Estilos para la sección de llamada a la acción con video de fondo */
.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.banner .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.banner .cta-content {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: var(--color-blanco);
  z-index: 1;
}
.banner .cta-button {
  margin-top: 20px;
}

/* Estilos Pagina de conctacto */
/* Estilo caja de contacto */
.contact-page-section {
  padding: 50px 0;
}
.contact-page-section .section-heading {
  text-align: center;
}
.contact-page-section .section-heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.contact-page-section .section-heading p {
  color: var(--color-oscuro);
}
.contact-page-section .contact-from-wrap {
  margin-bottom: 30px;
}
.contact-page-section .contact-from input,
.contact-page-section .contact-from textarea {
  background-color: var(--color-blanco);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-oscuro);
  border-radius: 5px;
  margin-bottom: 15px;
}
.contact-page-section .contact-from input:focus,
.contact-page-section .contact-from textarea:focus {
  background-color: var(--color-blanco);
  border: 2px solid var(--color-verde);
  color: var(--color-oscuro);
}
.contact-page-section .contact-from .btn-primary {
  background-color: var(--color-verde);
  color: var(--color-oscuro);
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-page-section .contact-from .btn-primary:hover {
  background-color: var(--color-amarillo);
  color: var(--color-oscuro);
}

/* Estilos para la sección de detalles de contacto */
.contact-detail-wrap {
  background-color: var(--color-oscuro);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--color-blanco);
}
.contact-detail-wrap .contact-detail-wrap h3 {
  margin-bottom: 20px;
  font-size: 28px;
}
.contact-detail-wrap .contact-detail-wrap p {
  margin-bottom: 30px;
}
.contact-detail-wrap .details-list {
  margin-top: 30px;
}
.contact-detail-wrap .details-list ul {
  list-style: none;
  padding: 0;
}
.contact-detail-wrap .details-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-detail-wrap .details-list .icon {
  font-size: 24px;
  margin-right: 15px;
  color: var(--color-verde);
}
.contact-detail-wrap .details-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-blanco);
  text-align: left;
}
.contact-detail-wrap .details-content span {
  color: var(--color-blanco);
  text-align: left;
}
.contact-detail-wrap .social-links {
  margin-top: 40px;
}
.contact-detail-wrap .social-links h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--color-blanco);
}
.contact-detail-wrap .social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact-detail-wrap .social-links li {
  margin-right: 20px;
}
.contact-detail-wrap .social-links a {
  font-size: 28px;
  color: var(--color-verde);
  transition: color 0.3s ease;
}
.contact-detail-wrap .social-links a:hover {
  color: #e6b800;
}

/*  Estilos Detalle de destinos */
/* Estilos para la sección banner con video de fondo */
.banner-dest {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.banner-dest .video-background-dest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.banner-dest .banner-cont {
  position: relative;
  text-align: center;
  padding: 20px;
  color: var(--color-blanco);
  background-color: rgba(0, 0, 0, 0.6);
  /* Color de fondo con transparencia */
  border-radius: 10px;
  /* Agregar esquinas redondeadas */
  z-index: 1;
}

/* Sección del detalle del paquete */
.destino-section {
  padding: 50px 0;
  margin-bottom: 30px;
  /* Título principal del paquete */
  /* Estilos para la imagen destacada del paquete */
  /* Estilos para los metadatos del paquete (duración, personas, ubicación) */
  /* Estilos para la pestaña */
  /* Estilos para el contenido de las pestañas */
}
.destino-section .destino-section-cont h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.destino-section .destino-image img {
  width: 100%;
  height: auto;
}
.destino-section .package-meta ul {
  background-color: var(--color-oscuro);
  color: var(--color-blanco);
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.destino-section .package-meta li {
  font-size: 16px;
  margin-bottom: 10px;
}
.destino-section .package-meta i {
  margin-right: 5px;
  color: var(--color-blanco);
}
.destino-section .nav-tabs {
  border: none;
  background-color: transparent;
}
.destino-section .nav-tabs .nav-item {
  margin-bottom: 15px;
}
.destino-section .nav-tabs .nav-link {
  font-weight: bold;
  color: var(--color-oscuro);
  border: none;
  border-radius: 0;
}
.destino-section .nav-tabs .nav-link.active {
  color: var(--color-verde);
  background-color: transparent;
  border-bottom: 3px solid var(--color-verde);
}
.destino-section .tab-content {
  padding: 20px;
  border: 1px solid var(--color-gris);
  border-top: none;
  /* Estilos para el programa */
}
.destino-section .tab-content .overview-content ul {
  list-style: disc;
  padding-left: 20px;
}
.destino-section .tab-content .itinerary-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.destino-section .tab-content .itinerary-content span {
  font-size: 14px;
  font-weight: normal;
  color: var(--color-gris);
}
.destino-section .tab-content .itinerary-timeline-wrap ul {
  padding: 0;
  list-style: none;
}
.destino-section .tab-content .timeline-content {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-gris);
}
.destino-section .tab-content .day-count {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.destino-section .tab-content .timeline-content h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.destino-section .tab-content .timeline-content p {
  font-size: 14px;
  margin: 5px 0;
}

.destino-reserva {
  /* Valor */
  /* Formulario de reservas */
  /* Fin form de reservas */
}
.destino-reserva .package-price {
  background-color: var(--color-verde);
  color: var(--color-blanco);
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.destino-reserva .package-price .package-price .price span {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.1;
}
.destino-reserva .reservation-form-wrap {
  background-color: var(--color-blanco);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.destino-reserva .reservation-form-wrap .reservation-form h3 {
  margin-bottom: 20px;
}
.destino-reserva .reservation-form-wrap .form-group {
  margin-bottom: 20px;
}
.destino-reserva .reservation-form-wrap .form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.destino-reserva .reservation-form-wrap .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-negro);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.destino-reserva .reservation-form-wrap .form-control:focus {
  border-color: var(--color-verde);
}
.destino-reserva .reservation-form-wrap .btn-primary {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.destino-reserva .widget-bg {
  background-color: var(--color-claro);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.destino-reserva .information-content h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-negro);
  margin-bottom: 10px;
}
.destino-reserva .information-content h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-negro);
  margin-bottom: 20px;
}
.destino-reserva .information-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}
.destino-reserva .button-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-verde);
  color: var(--color-blanco);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.destino-reserva .button-primary:hover {
  background-color: var(--color-amarillo);
}

/*# sourceMappingURL=style.css.map */
