/* Resetear estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  list-style: none;
}

/* ____________ Estilos Generales para el proyecto web con Bootstrap ____________ */
/* fuente de google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;700&display=swap");

/* Fuentes descargadas en el Sitio */
@font-face {
  font-family: "Vintage Handmade";
  src: url(/fonts/Vintage\ Handmade.ttf);
}

/* Paleta de colores */
:root {
  --color-negro: #333333;
  --color-oscuro: #1e2a38;
  --color-verde: #006400;
  --color-amarillo: #ffa63d;
  --color-gris: #333333;
  --color-blanco: #ffffff;
  --color-azul: #87ceeb;
  --color-marron: #8b4513;
  --color-formCTR: #2e3a48;
}

/* _______________________________FIN Estilos Generales para el proyecto web con Bootstrap _______________________________*/

/* _______________________________ Estilos para el navegador principal _______________________________ */
.navbar {
  background-color: var(--color-oscuro);
  /* Color de fondo del nav */
}

/* Estilos para el contenedor personalizado del logo */
.navbar-logo {
  padding: 10px 0;
  /* Espaciado alrededor del logo */
}

/* Estilos para el logo */
.navbar-brand img {
  max-height: 4rem;
  /* Tamaño máximo del logo */
}

/* Estilos para los enlaces del menú de navegación */
.navbar-nav .nav-link {
  color: var(--color-blanco);
  /* Color de los enlaces */
}

.navbar-nav .nav-link:hover {
  color: var(--color-amarillo);
  /* Color al pasar el mouse por encima de los enlaces */
}

/* Estilos para el botón de búsqueda */
.form-control {
  background-color: var(--color-gris);
  /* Color de fondo del formulario */
  color: var(--color-blanco);
  /* Color del texto del formulario */
}

.btn-success {
  background-color: var(--color-verde);
  /* Color de fondo del botón "Buscar" */
  border-color: var(--color-verde);
  /* Color del borde del botón "Buscar" */
}

/* Estilos para el menú offcanvas */
.offcanvas-header {
  background-color: var(--color-oscuro);
  /* Color de fondo del encabezado del menú offcanvas */
  border-bottom: 1px solid var(--color-verde);
  /* Borde inferior del encabezado */
}

.offcanvas-title {
  color: var(--color-blanco);
  /* Color del texto del título del menú offcanvas */
}

.offcanvas-body {
  background-color: var(--color-oscuro);
  /* Color de fondo del cuerpo del menú offcanvas */
}

/* Estilos para el menú desplegable "Aventuras" */
.navbar-nav .dropdown {
  position: relative;
  /* Posición relativa para el menú desplegable */
}

.navbar-nav .dropdown-toggle {
  color: var(--color-blanco);
  /* Color del enlace del menú desplegable */
  font-size: 16px;
  /* Tamaño del texto */
  transition: color 0.3s;
  /* Transición de color */
}

.navbar-nav .dropdown-toggle:hover {
  color: var(--color-amarillo);
  /* Color al pasar el mouse por encima del enlace */
}

.dropdown-menu {
  background-color: var(--color-oscuro);
  /* Color de fondo del menú desplegable */
  border: none;
  /* Eliminar el borde */
  border-radius: 0px;
  /* Bordes rectos */
  margin-top: 3px;
  /* Espaciado superior */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.dropdown-item {
  color: var(--color-blanco);
  /* Color del texto del menú desplegable */
  font-size: 14px;
  /* Tamaño del texto */
  transition: background-color 0.3s;
  /* Transición de color de fondo */
}

.dropdown-item:hover {
  background-color: var(--color-oscuro);
  /* Color de fondo al pasar el mouse por encima */
  color: var(--color-amarillo);
  /* Color del texto al pasar el mouse por encima */
}

/* Estilos para los íconos de redes sociales */
.navbar-nav.social-icons {
  display: flex;
  /* Mostrar los íconos en una fila */
  flex-direction: row;
  align-items: center;
  /* Alinear verticalmente al centro */
}

.navbar-social-title {
  color: var(--color-blanco);
  /* Color del título */
  font-size: 1rem;
  /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 5px;
  /* Espaciado inferior */
}

.navbar-nav.social-icons .nav-link {
  font-size: 1.5rem;
  /* Tamaño de los íconos */
  margin: 0 10px;
  /* Espaciado entre los íconos */
  color: var(--color-blanco);
  /* Color de los íconos */
  transition: color 0.3s;
  /* Transición de color */
}

.navbar-nav.social-icons .nav-link:hover {
  color: var(--color-amarillo);
  /* Color al pasar el mouse por encima de los íconos */
}

/* Estilos para el formulario de búsqueda */
.form-control {
  background-color: var(--color-formCTR);
  /* Color de fondo del formulario */
  color: var(--color-blanco);
  /* Color del texto del formulario */
  border: none;
  /* Eliminar el borde */
  border-radius: 4px;
  /* Bordes redondeados */
  padding: 8px 12px;
  /* Espaciado interno */
  transition: background-color 0.3s;
  /* Transición de color de fondo */
}

.form-control:focus {
  background-color: var(--color-formCTR);
  /* Color de fondo al enfocar */
  color: var(--color-blanco);
  /* Color del texto al enfocar */
  outline: none;
  /* Eliminar el contorno al enfocar */
}

.btn-success {
  background-color: var(--color-verde);
  /* Color de fondo del botón "Buscar" */
  border: none;
  /* Eliminar el borde del botón */
}

.btn-success:hover {
  background-color: var(--color-amarillo);
  /* Color de fondo del botón "Buscar" */
  border: none;
  /* Eliminar el borde del botón */
}

/* Estilos para el bloque de datos de contacto */
.navbar-contact {
  margin-top: 20px;
}

.navbar-contact-title {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.navbar-contact-info {
  font-size: 12px;
  color: #ccc;
  line-height: 1.5;
}

.navbar-contact-info i {
  margin-right: 5px;
}

/* Añadir margen inferior solo para el último elemento de la información de contacto */
.navbar-contact-info i:last-child {
  margin-bottom: 10px;
}

/* Estilos para el mapa */
.navbar-map {
  margin-top: 20px;
}

/* Estilos para el iframe del mapa */
.navbar-map iframe {
  border: none;
  width: 100%;
  height: 200px;
}

/* _______________________________Fin Estilos para el navegador principal_______________________________ */

/* _______________________________ Estilos generales para el footer _______________________________*/
footer {
  margin: auto;
  padding: 50px 0;
}

/* Estilos para los enlaces del menú */
footer a {
  color: var(--color-blanco);
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--color-amarillo);
}

/* Estilos para el copy */
footer p {
  margin-bottom: 0;
}

/* Estilos para los íconos de redes sociales */
.list-inline-item a {
  color: var(--color-blanco);
  font-size: 2rem;
  margin-right: 1rem;
  transition: color 0.3s;
}

.list-inline-item a:hover {
  color: var(--color-amarillo);
}

/* _______________________________ Fin Estilos generales para el footer _______________________________ */

/* _______________________________ Estilos Index _______________________________*/

/* Estilos para el carrusel de Bootstrap */
.carousel {
  margin-top: 100px;
  /* Espaciado superior */
  padding: 1px;
}

.carousel-inner {
  border-radius: 8px;
  /* Bordes redondeados para el contenido del carrusel */
  overflow: hidden;
  /* Ocultar contenido que sobrepase los bordes */
}

.carousel-item img {
  max-height: 100%;
  /* Altura máxima de las imágenes del carrusel */
  object-fit: cover;
  /* Ajustar imagen para llenar el contenedor */
}

.carousel-caption {
  background-color: rgba(30, 42, 56, 0.7);
  /* Fondo semitransparente */
  border-radius: 8px;
  /* Bordes redondeados para la caja de texto */
  padding: 10px;
  /* Espaciado interno */
}

.carousel-caption h5 {
  color: var(--color-blanco);
  /* Color del título */
  font-size: 24px;
  /* Tamaño del título */
  margin-bottom: 10px;
  /* Espaciado inferior */
}

.carousel-caption p {
  color: var(--color-blanco);
  /* Color del texto */
  font-size: 16px;
  /* Tamaño del texto */
}

/* Fin Estilos para el carrusel de Bootstrap */

/* Estilos para la Seccion Nuestros Destinos */
.adventures-section {
  background-color: var(--color-blanco);
  /* Color de fondo de la sección */
  padding: 100px 0;
  /* Espaciado vertical */
}

.adventures-section h2 {
  font-size: 2, 5rem;
  /* Tamaño del título */
  color: var(--color-negro);
  /* Color del texto */
  margin-bottom: 30px;
  /* Espaciado inferior */
}

.adventure-card {
  border: none;
  /* Sin borde */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  transition: transform 0.3s;
  /* Transición de transformación */
}

.adventure-card:hover {
  transform: translateY(-5px);
  /* Levantar la tarjeta al pasar el mouse por encima */
}

.adventure-card img {
  border-radius: 8px 8px 0 0;
  /* Bordes redondeados solo en la parte superior */
}

.adventure-card .card-body {
  padding: 20px;
  /* Espaciado interno */
}

.adventure-card h2.card-title {
  font-size: 24px;
  /* Tamaño del título */
  color: var(--color-oscuro);
  /* Color del texto del título */
  margin-bottom: 10px;
  /* Espaciado inferior */
}

.adventure-card p.card-text {
  font-size: 16px;
  /* Tamaño del texto */
  color: var(--color-gris);
  /* Color del texto */
}

/* FIN Estilos para la Seccion Nuestros Destinos */

/* Estilos para la sección de "Call to Action" */
.cta-section {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cta-content {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: var(--color-gris);
  z-index: 1;
}

.cta-button {
  margin-top: 20px;
}

/* Fin Estilos para la sección de "Call to Action" */

/* Estilos para la Sección Nosotros */
.about-section {
  background-color: var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-negro);
  margin-bottom: 30px;
}

.about-text {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 50px;
}

.about-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Fin Estilos para la Sección Nosotros */

/* Estilos para la sección Nuestros Servicios */
.activity-types-section {
  background-color: var(--color-oscuro);
  /* Color de fondo de la sección */
  padding: 100px 0;
  /* Espaciado vertical */
}

.activity-types-section h2 {
  font-size: 2, 5rem;
  /* Tamaño del título */
  color: var(--color-blanco);
  /* Color del texto */
  margin-bottom: 30px;
  /* Espaciado inferior */
}

.activity-card {
  border: none;
  /* Sin borde */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  transition: transform 0.3s;
  /* Transición de transformación */
  background-size: cover;
  /* Ajustar la imagen de fondo para cubrir todo el contenedor */
  background-position: center;
  /* Centrar la imagen de fondo */
  height: 300px;
  /* Altura fija para todas las tarjetas */
}

.activity-card:hover {
  transform: translateY(-5px);
  /* Levantar la tarjeta al pasar el mouse por encima */
}

.activity-card .card-body {
  padding: 20px;
  /* Espaciado interno */
}

.activity-card h3.card-title {
  font-size: 24px;
  /* Tamaño del título */
  color: var(--color-blanco);
  /* Color del texto del título */
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo semitransparente */
  padding: 10px 0;
  /* Espaciado interno del título */
  border-radius: 0 0 8px 8px;
  /* Bordes redondeados solo en la parte inferior */
}

/* Fin Estilos para la sección Nuestros Servicios */

/* Estilos para el Formulario de Suscripción */
.subscribe-section {
  background-color: var(--color-blanco);
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.subscribe-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-oscuro);
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 1rem;
  color: var(--color-gris);
  margin-bottom: 30px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-bottom: 20px;
}

.btn-primary {
  border-radius: 1px;
  background-color: var(--color-verde);
  border-color: var(--color-oscuro);
}

.btn-primary:hover {
  background-color: var(--color-amarillo);
  border-color: var(--color-oscuro);
}

/* Fin Estilos para la Sección de Suscripción */

/* _______________________________ Fin estilos Index _______________________________*/

/* _______________________________ Estilos Pagina Destino.html _______________________________ */

/* Estilos para la sección de llamada a la acción con video de fondo */
/* Estilos para la sección de "Call to Action" */
.cta-destinos {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cta-content {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: var(--color-blanco);
  z-index: 1;
}

.cta-button {
  margin-top: 20px;
}

/* Fin Estilos para la sección de "Call to Action" */

/* Estilos para el Formulario de Suscripción */
.subscribe-destinos {
  background-color: var(--color-oscuro);
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.subscribe-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-blanco);
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 1rem;
  color: var(--color-blanco);
  margin-bottom: 30px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-bottom: 20px;
}

.btn-primary {
  border-radius: 1px;
  background-color: var(--color-verde);
  border-color: var(--color-blanco);
}

.btn-primary:hover {
  background-color: var(--color-amarillo);
  border-color: var(--color-blanco);
}

/* Fin Estilos para la Sección de Suscripción */

/* Los Estilos de Card son los mismos del Index */
/* _______________________________ Fin Estilos Pagina Destino.html _______________________________ */

/* _______________________________ Estilos Pagina Contacto.html _______________________________ */

/* Banner Contacto son los estilos de CTA en Index */

/* Estilos para la sección de formulario de contacto */
.contact-page-section {
  padding: 50px 0;
}

.section-heading {
  text-align: center;
}

.section-heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-heading p {
  color: var(--color-oscuro);
}

.contact-from-wrap {
  margin-bottom: 30px;
}

.contact-from input,
.contact-from textarea {
  background-color: var(--color-blanco);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-oscuro);
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-from input:focus,
.contact-from textarea:focus {
  background-color: var(--color-blanco);
  border: 2px solid var(--color-verde);
  color: var(--color-oscuro);
}

.contact-from .btn-primary {
  background-color: var(--color-verde);
  color: var(--color-oscuro);
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-from .btn-primary:hover {
  background-color: var(--color-amarillo);
  color: var(--color-oscuro);
}

/* Estilos para la sección de detalles de contacto */
.contact-detail-wrap {
  background-color: var(--color-oscuro);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-detail-wrap h3 {
  margin-bottom: 20px;
  font-size: 28px;
  color: var(--color-blanco);
}

.contact-detail-wrap p {
  color: var(--color-blanco);
  margin-bottom: 30px;
}

.details-list {
  margin-top: 30px;
}

.details-list ul {
  list-style: none;
  padding: 0;
}

.details-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.details-list .icon {
  font-size: 24px;
  margin-right: 15px;
  color: var(--color-verde);
}

.details-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-blanco);
  text-align: left;
}

.details-content span {
  color: var(--color-blanco);
  text-align: left;
}

.social-links {
  margin-top: 40px;
}

.social-links h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--color-blanco);
}

.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin-right: 20px;
}

.social-links a {
  font-size: 28px;
  color: var(--color-verde);
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #e6b800;
}
