.btn-primary {
    border-radius: 1px;
    background-color: $color-verde;
    border-color: $color-blanco;
    color: $color-blanco; /* Añadido para cambiar el color del texto a blanco */
    &:hover {
        background-color: $color-amarillo;
        border-color: $color-blanco;
    }
}