.navbar {
    background-color: var(--color-oscuro);

    /* Color de fondo del nav */
    .navbar-logo {
        padding: 10px 0;
        /* Espaciado alrededor del logo */
    }

    /* Estilos para el logo */
    .navbar-brand img {
        max-height: 4rem;
        /* Tamaño máximo del logo */
    }

    /* Estilos para los enlaces del menú de navegación */
    .navbar-nav .nav-link {
        color: $color-blanco;
        /* Color de los enlaces */
    }

    .navbar-nav .nav-link:hover {
        color: $color-amarillo;
        /* Color al pasar el mouse por encima de los enlaces */
    }

    /* Estilos para el botón de búsqueda */
    .form-control {
        background-color: $color-blanco;
        /* Color de fondo del formulario */
        color: $color-blanco;
        /* Color del texto del formulario */
        }

    .btn-success {
        background-color: $color-verde;
        /* Color de fondo del botón "Buscar" */
        border-color: $color-verde;
        /* Color del borde del botón "Buscar" */
    }

    /* Estilos para el menú offcanvas */
    .offcanvas-header {
        background-color: $color-oscuro;
        /* Color de fondo del encabezado del menú offcanvas */
        border-bottom: 1px solid $color-verde;
        /* Borde inferior del encabezado */
    }

    .offcanvas-title {
        color: $color-blanco;
        /* Color del texto del título del menú offcanvas */
    }

    .offcanvas-body {
        background-color: $color-oscuro;
        /* Color de fondo del cuerpo del menú offcanvas */
    }

    /* Estilos para el menú desplegable "Aventuras" */
    .navbar-nav .dropdown {
        position: relative;
        /* Posición relativa para el menú desplegable */
    }

    .navbar-nav .dropdown-toggle {
        color: $color-blanco;
        /* Color del enlace del menú desplegable */
        font-size: 16px;
        /* Tamaño del texto */
        transition: color 0.3s;
        /* Transición de color */
    }

    .navbar-nav .dropdown-toggle:hover {
        color: $color-amarillo;
        /* Color al pasar el mouse por encima del enlace */
    }

    .dropdown-menu {
        background-color: $color-oscuro;
        /* Color de fondo del menú desplegable */
        border: none;
        /* Eliminar el borde */
        border-radius: 0px;
        /* Bordes rectos */
        margin-top: 3px;
        /* Espaciado superior */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /* Sombra */
    }

    .dropdown-item {
        color: $color-blanco;
        /* Color del texto del menú desplegable */
        font-size: 14px;
        /* Tamaño del texto */
        transition: background-color 0.3s;
        /* Transición de color de fondo */
    }

    .dropdown-item:hover {
        background-color: $color-oscuro;
        /* Color de fondo al pasar el mouse por encima */
        color: $color-amarillo;
        /* Color del texto al pasar el mouse por encima */
    }

    /* Estilos para los íconos de redes sociales */
    .navbar-nav.social-icons {
        display: flex;
        /* Mostrar los íconos en una fila */
        flex-direction: row;
        align-items: center;
        /* Alinear verticalmente al centro */
    }

    .navbar-social-title {
        color: $color-blanco;
        /* Color del título */
        font-size: 1rem;
        /* Tamaño del título */
        font-weight: bold;
        margin-bottom: 5px;
        /* Espaciado inferior */
    }

    .navbar-nav.social-icons .nav-link {
        font-size: 1.5rem;
        /* Tamaño de los íconos */
        margin: 0 10px;
        /* Espaciado entre los íconos */
        color: $color-blanco;
        /* Color de los íconos */
        transition: color 0.3s;
        /* Transición de color */
    }

    .navbar-nav.social-icons .nav-link:hover {
        color: $color-amarillo;
        /* Color al pasar el mouse por encima de los íconos */
    }

    /* Estilos para el formulario de búsqueda */
    .form-control {
        background-color: $color-blanco;
        /* Color de fondo del formulario */
        color: $color-blanco;
        /* Color del texto del formulario */
        border: none;
        /* Eliminar el borde */
        border-radius: 4px;
        /* Bordes redondeados */
        padding: 8px 12px;
        /* Espaciado interno */
        transition: background-color 0.3s;
        /* Transición de color de fondo */
    }

    .form-control:focus {
        background-color: $color-oscuro;
        /* Color de fondo al enfocar */
        color: $color-blanco;
        /* Color del texto al enfocar */
        outline: none;
        /* Eliminar el contorno al enfocar */
    }

    .btn-success {
        background-color: $color-verde;
        /* Color de fondo del botón "Buscar" */
        border: none;
        /* Eliminar el borde del botón */
    }

    .btn-success:hover {
        background-color: $color-amarillo;
        /* Color de fondo del botón "Buscar" */
        border: none;
        /* Eliminar el borde del botón */
    }

    /* Estilos para el bloque de datos de contacto */
    .navbar-contact {
        margin-top: 20px;
    }

    .navbar-contact-title {
        font-size: 14px;
        font-weight: bold;
        color: $color-blanco;
        margin-bottom: 10px;
    }

    .navbar-contact-info {
        font-size: 12px;
        color: $color-blanco;
        line-height: 1.5;
    }

    .navbar-contact-info i {
        margin-right: 5px;
    }

    /* Añadir margen inferior solo para el último elemento de la información de contacto */
    .navbar-contact-info i:last-child {
        margin-bottom: 10px;
    }

    /* Estilos para el mapa */
    .navbar-map {
        margin-top: 20px;
    }

    /* Estilos para el iframe del mapa */
    .navbar-map iframe {
        border: none;
        width: 100%;
        height: 200px;
    }
}