:root {
    --color-negro: #333333;
    --color-oscuro: #1e2a38;
    --color-verde: #006400;
    --color-amarillo: #ffa63d;
    --color-gris: #333333;
    --color-blanco: #ffffff;
    --color-claro: #f5f5f5;
    --color-azul: #87ceeb;
    --color-marron: #8b4513;
    --color-formCTR: #2e3a48;
}